body{
    background-color: #222;
    color: #ea7200;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
}
input:focus{
    outline: none;
}
ul{
    list-style-type: none;
    padding: 1rem;
    border: 2px solid #425;
    border-radius: 10px;

}
input{
    border: 1px solid #ea7200;
    background-color: #111;
    color: #ea7200;
    margin: .5rem;
}
#listBox{
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
}
#listBox > ul{
    flex: 1;
    margin: .25rem;
}
#listBox li{
    margin-top: .5rem;
}
#chefList li{
    display: flex;
    flex-flow: nowrap column;
}
.chefRecipes{

}
.spaceB{
    display: flex;
    justify-content: space-between;
    align-items: center;
}